= form_for @article, url: admin_path, html: {class: "ui form"}  do |f|
  - if @article.errors.any?
    .ui.tertiary.inverted.red.segment
      .ui.bulleted.list
        - @article.errors.full_messages.each do |msg|
          .item= msg

  - if !flash.empty?
    .ui.tertiary.inverted.green.segment
      -flash.each do |key, value|
        .item= value
  .field
    =f.label :title
    =f.text_field :title
  .field
    =f.label :annotation
    =f.text_area :annotation
  .field
    =f.label :published_to
    .fields
      =f.datetime_select :published_to
    %label
      ="Use timezone: #{Time.zone.name}"

  =f.submit 'Save', class: 'ui button'

