#Article
  .ui.items
    .item
      .content
        %p.header
          = article.title
        .description
          = article.annotation.html_safe
        .extra
          = (article.published_at || article.created_at).strftime("%v %H:%M (%Z)")
