= form_for @article, url: admin_path, action: 'post' do |f|
  =f.label :title
  =f.text_field :title

  =f.label :annotation
  =f.text_area :annotation

  =f.label :published_to
  =f.datetime_select :published_to

  =f.submit

